<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
<table  border="1" style="border: solid black; padding: 5px">

  <tr>

    <td>Fecha</td>
    <td>Hora </td>
    <td>Ingreso </td>
    <td>Gasto </td>
    <td>Saldo </td>



  </tr>

  <tr>

    <td>01-01-2021</td>
    <td>09:00</td>
    <td>Comprapizza</td>
    <td>20</td>
    <td>1000</td>
  </tr>

</table>   
</body>
</html>